---

import type Spartepart from "../../types/sparepart"

import styles from '../../styles/Spareparts.module.css'
import utils from '../../styles/Utils.module.css'
import Layout from "../../layouts/Layout.astro";

import { Image } from "astro:assets";

const { id } = Astro.params;

const  spareparts: Spartepart[] = await fetch(`http://localhost:4321/api/spareparts/${id}`).then(response => response.json());
---

<Layout title="Spare Parts">
    <section id="partsDetail">
        <h1 class={utils.sectionHeading}>Parts Catalogues</h1>

        <div class={utils.index}>
            <h1 class={utils.indexHeading}>Suppliers</h1>
            {spareparts.map(link => (
                <a href={`#${link.name}`}>
                    <h1 class="indexItem">{link.name}</h1>
                </a>
            ))}
        </div>

        {spareparts.map(sparepart => (
            <div class={styles.sparepartGrid}>
                <div
                    class={styles.sparepartsCard}
                    id={sparepart.name || ''}>
                    <div class={styles.sparepartsGrid}>
                        <div class={styles.sparepartsInfo}>
                            <h1 class={utils.mainHeading}>
                                {sparepart.name}
                            </h1>
                            <button class={utils.btn}>
                                <a
                                    href={
                                        sparepart.spare_parts_link ||
                                        sparepart.pdf_link ||
                                        '#'
                                    }
                                    target="_blank">
                                    Parts Catalogue
                                </a>
                            </button>
                        </div>
                        <Image
                            src={sparepart.parts_image || '/default.jpg'}
                            alt={'/default.jpg'}
                            class={styles.sparepartsLogo}
                            width={600}
                            height={600}
                        />
                    </div>
                </div>
            </div>
        ))}
    </section>
</Layout>