---
import type Supplier from "../types/supplier"

import styles from '../styles/Spareparts.module.css'
import utils from '../styles/Utils.module.css'
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";

const  suppliers: Supplier[] = await fetch('http://localhost:4321/api/suppliers').then(suppliers => suppliers.json());
---
<Layout title="Spare Parts">
    <section id="SpareParts">
        <h1 class={utils.sectionHeading}>Spare-Parts</h1>

        <div class={utils.index}>
            <h1 class={utils.indexHeading}>Suppliers</h1>
            {suppliers.map(link => (
                <a href={`#${link.name}`}>
                    <h1 class="indexItem">{link.name}</h1>
                </a>
            ))}
        </div>

        {suppliers.map(supplier => (
            <div class={styles.supplierCard}>
                <h1 class={utils.mainHeading}>{supplier.name}</h1>
                <Image
                    src={supplier.logo_image ?? '/default.jpg'}
                    alt="Supplier logo"
                    width={200}
                    height={200}
                />
                <button class={utils.btn}>
                    <a href={`/spareparts/${supplier.id}`}>
                        Spare-Parts
                    </a>
                </button>
            </div>
        ))}
    </section>
</Layout>