---
import styles from '../../styles/Suppliers.module.css'
import utils from '../../styles/Utils.module.css'

import type { Video } from '../../types/video'

const { videos } = Astro.props as {videos: Video[]};
---

<section id="videos">
    <h1 class={utils.sectionHeading}>Videos</h1>

    <div class={styles.videoGrid}>
        {videos.map(video => (
            <div
                class={styles.videoCard}
                id={video.title || ''}>
                <h1 class={utils.mainHeading}>{video.title}</h1>
                <iframe
                    width="425"
                    height="315"
                    class={styles.video}
                    src={`https://www.youtube.com/embed/${video.video_id}`}
                    allowfullscreen
                />
            </div>
        ))}
    </div>
</section>