---
import { Image } from "astro:assets";
import AccountButton from "../components/client/AccountButton"

import styles from '../styles/Header.module.css'
import type Supplier from "../types/supplier"

export const prerender = true

const response = await fetch('http://localhost:4321/api/suppliers', {
    method: 'GET',
    headers: {
        'Content-Type': 'application/json',
        Accept: 'application/json',
    }
})

const suppliers: Supplier[] = await response.json();
---

<nav class={styles.navbar}>
    <a href='/' aria-label="logo button">
        <Image src="https://res.cloudinary.com/dgpquyhuy/image/upload/v1691492819/farmeclogo.png" alt="Logo" width="250" height="250"/>
    </a>

    <ul class={styles.navList}>

        <li class={styles.navItem}>
            <a href='/about' style={styles.navListItem}>About Us</a>
            <ul class={styles.navDrop}>
                <li class={styles.navDropItem}>
                    <a href='/about'>Staff & Management</a>
                </li>
                <li class={styles.navDropItem}>
                    <a href='/about#timeline'>Company History</a>
                </li>
                <li class={styles.navDropItem}>
                    <a href='/about/policies'>Terms of Use</a>
                </li>
            </ul>
        </li>

        <li class={styles.navItem}>
            <a href='/suppliers' style={styles.navListItem}>Suppliers</a>
            <ul class={styles.navDrop}>
                {suppliers?.map(supplier => (
                    <li class={styles.navDropItem}>
                        <a href={`/suppliers/${supplier.id}`}>
                            {supplier.name}
                        </a>
                    </li>
                ))}
            </ul>
        </li>

        <li class={styles.navItem}>
            <a href='/spareparts' style={styles.navListItem}>Spareparts</a>
            <ul class={styles.navDrop}>
                {suppliers?.map(supplier => (
                    <li class={styles.navDropItem}>
                        <a href={`/spareparts/${supplier.id}`}>
                            {supplier.name}
                        </a>
                    </li>
                ))}
            </ul>
        </li>

        <li class={styles.navItem}>
            <a href='/blogs' style={styles.navListItem}>Blog</a>
            <ul class={styles.navDrop}>
                <li class={styles.navDropItem}>
                    <a href='/blog'>Latest Posts</a>
                </li>
                <li class={styles.navDropItem}>
                    <a href='/blog/exhibitions'>
                        Exhibition Information
                    </a>
                </li>
            </ul>
        </li>
        
        <li class={styles.navItem}>
            <a href='/#contact' style={styles.navListItem}>Contact</a>
        </li>

        <AccountButton client:load />
    </ul>
</nav>