---
import Layout from "../../layouts/Layout.astro";

import type Supplier from '../../types/supplier'
import type Machine from '../../types/machine'

export const prerender = true

export async function getStaticPaths() {
  const response = await fetch('http://localhost:4321/api/suppliers').then(response => response.json());

  return response.map((supplier: Supplier) => {
        return { 
            params: { id: supplier.id },
            props: { supplier }
        };
    });
}

const { id } = Astro.params;
const { supplier } = Astro.props as { supplier: Supplier };


const machines: Machine[] = await fetch(`http://localhost:4321/api/machines/${id}`, {
    method: 'GET',
    headers: {
        'Content-Type': 'application/json',
        Accept: 'application/json',
    }
}).then(response => response.json());

---

<Layout title={`Farmec | ${supplier.name}` || 'Farmec'}>
    <h1>{supplier.name || 'Supplier Not Found'}</h1>
    <img src={supplier.marketing_image} alt={supplier.name}>

    <ul>
        {machines.map((machine: Machine) => (
            <a href={`/machines/${machine.id}`}>
                {machine.name}             
            </a>    
        ))}
    </ul>
</Layout>
