---
import Layout from "../../layouts/Layout.astro";

import styles from '../../styles/Suppliers.module.css'
import utils from '../../styles/Utils.module.css'

import type Supplier from '../../types/supplier'
import type Machine from '../../types/machine'

import Machines from "../../components/server/machines.astro";

import { Image } from "astro:assets";

export const prerender = true

export async function getStaticPaths() {
  const response = await fetch('http://localhost:4321/api/suppliers').then(response => response.json());

  return response.map((supplier: Supplier) => {
        return { 
            params: { id: supplier.id },
            props: { supplier }
        };
    });
}

const { id } = Astro.params;
const { supplier } = Astro.props as { supplier: Supplier };


const machines: Machine[] = await fetch(`http://localhost:4321/api/machines/${id}`, {
    method: 'GET',
    headers: {
        'Content-Type': 'application/json',
        Accept: 'application/json',
    }
}).then(response => response.json());

---

<Layout title={`Farmec | ${supplier.name}` || 'Farmec'}>
    <section id="supplierDetail">
        <div class={styles.supplierHeading}>
            <h1 class={utils.sectionHeading}>{supplier.name}</h1>

            <!-- <SocialLinks
                facebook={social_facebook}
                twitter={social_twitter}
                instagram={social_instagram}
                linkedin={social_linkedin}
                website={social_website}
                youtube={social_youtube}
            /> -->
        </div>

        <div class={utils.index}>
            <h1 class={utils.indexHeading}>Suppliers</h1>
            {machines.map(link => (
                <a href={`#${link.name}`}>
                    <h1 class="indexItem">{link.name}</h1>
                </a>
            ))}
        </div>

        <div class={styles.supplierDetail}>
            <Image
                src={supplier.marketing_image ?? '/default.jpg'}
                alt={'/dafault.jpg'}
                class={styles.supplierImage}
                width={750}
                height={750}
            />

            <p class={styles.supplierDescription}>{supplier.description}</p>

        </div>

        <Machines machines={machines} />
        <!-- <Videos supplier={supplier} /> -->
    </section>
</Layout>
